.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 100%;

  &__text {
    @include roboto400;

    color: $color-muted;
    font-size: $font-size-small;
  }

  &__sum {
    @include roboto700;

    color: $color-primary;
    line-height: $line-height-medium;
    font-size: $font-size-medium;
  }
}
